// resources/sass/components/_button.scss

.btn {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: $font-weight-medium;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border: none; // Default: tombol tanpa border
}

// Style untuk tombol utama (biru)
.btn-primary {
    background-color: $color-primary;
    color: $color-background; // Teks Putih
    &:hover {
        background-color: darken($color-primary, 10%);
    }
}

// Style untuk tombol sekunder/outline (jika ada)
.btn-outline {
    background-color: transparent;
    border: 2px solid $color-primary;
    color: $color-primary;
    &:hover {
        background-color: rgba($color-primary, 0.1);
    }
}