// resources/sass/sections/_clients.scss

.clients-section {
    padding: 49px 0;

    .clients-logo-grid {
        display: grid;
        
        // Tata letak 5 kolom yang sama besar (Untuk 10 logo: 5 di atas, 5 di bawah)
        grid-template-columns: repeat(5, 1fr); 

        .client-logo-item {
            display: flex;
            justify-content: center; /* Tengahkan logo secara horizontal di dalam cell grid */
            align-items: center;     /* Tengahkan logo secara vertikal di dalam cell grid */

            img {
                height: auto;
            }
        }
    }
}