.footer-section{
    background-color: #FFFFFF;
    padding: 86px 0 193.64px 0;
    
    .container{
        h1{
            text-align: center;
            font-size: 51px;
        }
        
        .hero-contact-group {
            width: 623.96px;
            margin: 69px auto 0;
            
            display: flex;
            flex-direction: column;
            align-items: center; 
            gap: 20px;
            
            .contact-card {
                display: flex;
                align-items: center;
                padding: 20px;
                gap: 25px;
                width: 100%; 
                height: 120px;
                
                background: #075E54; 
                border-radius: 1000px; 

                .contact-icon img {
                    width: 80px;
                    height: 80px;
                }

                .contact-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 2px;
                    color: #FFFFFF;
                    flex-grow: 1; 

                    .contact-name {
                        font-weight: 600;
                        font-size: 27.5px;
                        line-height: 35px;
                    }
                    .contact-number {
                        font-weight: 300;
                        font-size: 30px;
                        line-height: 38px;
                    }
                }
            }
        }
    }
}