// resources/sass/sections/_hero.scss

.hero-section {
    position: relative; 
    width: 100%; 
    height: 775px; 
    top: 0;
    left: 0; 
    overflow: hidden; 
    
    background: radial-gradient(
        49.97% 100.04% at 50.03% 56.84%, 
        rgba(82, 150, 251, 0.2) 0%, 
        rgba(82, 150, 251, 0) 56.9%, 
        rgba(255, 255, 255, 0) 100%
    ), #101036; 

    .hero-navbar {
        display: flex;
        justify-content: center; 
        align-items: center;
        padding: 39.5px 80px;
        margin-top: 25px;
        
        .logo-image {
            width: 225.75px;
            height: 70px;
        }
    }

    .hero-title {
        width: 945px;
        margin: 0px auto;

        font-family: 'Outfit', sans-serif;
        font-weight: 500;
        font-size: 3.75rem;
        line-height: 4.375rem;
        text-align: center;
        color: #FFFFFF;

        span{
            color: #5296FB;
        }
    }

    .hero-contact-group {
        width: 623.96px;
        margin: 58px auto 73px;
        
        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: 20px;
        
        .contact-card {
            display: flex;
            align-items: center;
            padding: 20px;
            gap: 25px;
            width: 100%; 
            height: 120px;
            
            background: #075E54; 
            border-radius: 1000px; 

            .contact-icon img {
                width: 80px;
                height: 80px;
            }

            .contact-info {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 2px;
                color: #FFFFFF;
                flex-grow: 1; 

                .contact-name {
                    font-weight: 600;
                    font-size: 1.75rem;
                    line-height: 2.25rem;
                }
                .contact-number {
                    font-weight: 300;
                    font-size: 1.875rem;
                    line-height: 2.375rem;
                }
            }
        }
        
        .contact-sub-text {
            width: 623.96px;
            font-weight: 300;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            color: #FFFFFF;
        }
    }
}