.review-section {
    padding: 153px 0;
    background: radial-gradient(
        49.97% 100.04% at 50.03% 56.84%, 
        rgba(82, 150, 251, 0.2) 0%, 
        rgba(82, 150, 251, 0) 56.9%, 
        rgba(255, 255, 255, 0) 100%
    ), #101036; 

    color: #FFFFFF;

    .container{
        display: flex;
        gap: 48px;

        .content{
            .review{
                font-size: 2rem;
                margin-bottom: 24px;
            }

            .sender{
                h4{
                    font-size: 1.25rem;
                }

                p{
                    font-size: 1rem;
                }
            }
        }
        
    }
}